.box{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border: solid 2px black;
}

.parent{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: solid 2px black;
    min-height: 180px;
}

.p1{
    justify-content: flex-start;
}

.p2{
    justify-content: flex-end;
}

.p3{
    justify-content: center;
}

.p4{
    justify-content: space-between;
}

.p5{
    justify-content: space-around;
}

.p6{
    justify-content: space-evenly;
}

.align{
    flex-wrap: wrap;
    align-items: center;
}