@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*Home/Details/5*@
<a asp-controller="Home" asp-action="Details" asp-route-Productid="5">
    Détails
</a>
<a asp-controller="Product" asp-action="Details" asp-route-id="5">
    // 📘 Le nom doit correspondre au paramètre de route
    Détails
</a>

public IActionResult Details(int id)
        {
            return View();
        }